/*
	initialisation générale
*/

	* {
		margin: 0;
		padding: 0;
	}

	html {
		font-size: 62.5%; /* redefinition general de la mesure de la taille de police 1rem = 10px */

	}

	body {
		font-size: 1.5rem; /* definition générale de la taille de police à 1.5 px */

	}

	li	{
		list-style: none; /* annulation du syle de liste soit des points */
	}

	a {
		text-decoration: none; /* annulation du soulignement */
	}

/* Fin initialisation générale */

/*
	parametrage de la navigation
*/

	ul, li {
		display: inline-block;
		margin: 1rem;
	}

/* Fin de la navigation */

